{{#link-to "book-detail" bookId}}
  <p>{{t 'books.title'}}: {{title}}</p>
  <p>{{t 'books.author'}}: {{author}}</p>
  <p>{{t 'books.tags'}}: 
    {{#each tags as |tag|}}
      #{{tag}}
    {{/each}}
  </p>
{{/link-to}}