<form onsubmit={{action "saveMeeting"}} class="edit-form">

  <div class="form-group">
    <label class="col-sm-2 col-form-label">{{t "meetings.chooseDate"}}:</label>
    <div class="col-sm-10">
      {{input type="date" value=meetingDate class="form-control form-control-lg" placeholder=(t "meetings.chooseDate")}}
    </div>
    <div class="col-sm-10">
      {{#if showError}}
        {{#if (v-get this 'meetingDate' 'isInvalid')}}
          <span class="text-danger">
            {{v-get this 'meetingDate' 'message'}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <button type="submit" class="btn btn-outline-primary btn-lg">{{t "buttons.save"}}</button>
    </div>
    <div class="col-6 text-right">
      {{#link-to "meeting" class="btn btn-outline-secondary btn-lg" }}{{t "buttons.cancel"}}{{/link-to}}
    </div>
	</div>
  
</form>