<form onsubmit={{action "saveReport"}} class="edit-form">

  {{!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label">Дата доклада:</label>
    <div class="col-sm-10">
      {{input type="date" value=reportDate class="form-control form-control-lg" placeholder="Выберите дату доклада"}}
    </div>
  </div> --}}

  <div class="form-group">
    <label>{{t "reports.chooseBook"}}</label>
      {{#power-select searchEnabled=true searchField="title" onchange=(action (mut book)) selected=book search=(action "searchBook") as |book|}}
        {{book.title}}
      {{/power-select}}
    <div class="col-sm-10">
      {{#if showError}}
        {{#if (v-get this 'book' 'isInvalid')}}
          <span class="text-danger">
            {{v-get this 'book' 'message'}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{t "reports.bookScore"}}:</label>
    <div class="col-sm-10">
      {{input type="number" value=bookScore class="form-control form-control-lg" placeholder=(t "reports.placeholder.bookScore")}}
    </div>
    <div class="col-sm-10">
      {{#if showError}}
        {{#if (v-get this 'bookScore' 'isInvalid')}}
          <span class="text-danger">
            {{v-get this 'bookScore' 'message'}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{t "reports.presentationURL"}}:</label>
    <div class="col-sm-10">
      {{input type="url" value=presentationURL class="form-control form-control-lg" placeholder=(t "reports.placeholder.presentationURL")}}
    </div>
    <div class="col-sm-10">
      {{#if showError}}
        {{#if (v-get this 'presentationURL' 'isInvalid')}}
          <span class="text-danger">
            {{v-get this 'presentationURL' 'message'}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{t "reports.videoURL"}}:</label>
    <div class="col-sm-10">
      {{input type="url" value=videoURL class="form-control form-control-lg" placeholder=(t "reports.placeholder.videoURL")}}
    </div>
    <div class="col-sm-10">
      {{#if showError}}
        {{#if (v-get this 'videoURL' 'isInvalid')}}
          <span class="text-danger">
            {{v-get this 'videoURL' 'message'}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  </div>  

  <div class="form-group">
    <label>{{t "reports.chooseSpeaker"}}</label>
      {{#power-select searchEnabled=true onchange=(action (mut speaker)) selected=speaker search=(action "searchSpeaker") as |speaker|}}
        {{speaker.surname}} {{speaker.name}} {{speaker.patronymic}}
      {{/power-select}}
    <div class="col-sm-10">
      {{#if showError}}
        {{#if (v-get this 'speaker' 'isInvalid')}}
          <span class="text-danger">
            {{v-get this 'speaker' 'message'}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  </div>  

  {{!-- <div class="form-group">
    <label >Выберите Дату Клубной Встречи</label>
      {{#power-select searchEnabled=true onchange=(action (mut meeting)) selected=meeting search=(action "searchMeeting") as |meeting|}}
        {{meeting.meetingDate}} 
      {{/power-select}}
  </div> --}}

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{t "reports.review"}}:</label>
    <div class="col-sm-10">
      {{textarea type="text" rows="6" value=review class="form-control form-control-lg" placeholder=(t "reports.placeholder.review")}}
    </div>
    <div class="col-sm-10">
      {{#if showError}}
        {{#if (v-get this 'review' 'isInvalid')}}
          <span class="text-danger">
            {{v-get this 'review' 'message'}}
          </span>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <button type="submit" class="btn btn-outline-primary btn-lg">{{t "buttons.save"}}</button>
    </div>
    <div class="col-6 text-right">
      {{#link-to "meeting-edit" meeting.id class="btn btn-outline-secondary btn-lg" }}{{t "buttons.cancel"}}{{/link-to}}
    </div>
	</div>

</form>