<form onsubmit={{action "saveReport"}} class="edit-form">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Дата доклада:</label>
    <div class="col-sm-10">
      {{input type="date" value=reportDate class="form-control form-control-lg" placeholder="Выберите дату доклада"}}
    </div>
  </div>

  <div class="form-group">
    <label>Выберите Книгу</label>
      {{#power-select searchEnabled=true searchField="title" onchange=(action (mut book)) selected=book search=(action "searchBook") as |book|}}
        {{book.title}}
      {{/power-select}}
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Оценка книги:</label>
    <div class="col-sm-10">
      {{input type="number" value=bookScore class="form-control form-control-lg" placeholder="Оцените книгу (от 1 до 5)"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ссылка на презентацию:</label>
    <div class="col-sm-10">
      {{input type="url" value=presentationURL class="form-control form-control-lg" placeholder="Н-р: http://www.presentation.com"}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ссылка на видео:</label>
    <div class="col-sm-10">
      {{input type="url" value=videoURL class="form-control form-control-lg" placeholder="Н-р: http://www.video.com"}}
    </div>
  </div>  

  <div class="form-group">
    <label>Выберите Спикера</label>
      {{#power-select searchEnabled=true onchange=(action (mut speaker)) selected=speaker search=(action "searchSpeaker") as |speaker|}}
        {{speaker.surname}} {{speaker.name}} {{speaker.patronymic}}
      {{/power-select}}
  </div>  

  <div class="form-group">
    <label >Выберите Дату Клубной Встречи</label>
      {{#power-select searchEnabled=true onchange=(action (mut meeting)) selected=meeting search=(action "searchMeeting") as |meeting|}}
        {{meeting.meetingDate}} 
      {{/power-select}}
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Рецензия:</label>
    <div class="col-sm-10">
      {{textarea type="text" rows="6" value=review class="form-control form-control-lg" placeholder="Напишите отзыв о книге"}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <button type="submit" class="btn btn-outline-primary btn-lg">Сохранить</button>
    </div>
    <div class="col-6 text-right">
      {{#link-to "report.index" class="btn btn-outline-secondary btn-lg" }}Отмена{{/link-to}}
    </div>
	</div>

</form>