{{outlet}}
<div class="container h-100">
  <div class="htop">
    <div class="form-row navbar-panel justify-content-between">
      <div class="col-md-auto">
        <div class="form-group row justify-content-between">
          {{input type="text" value=search class="form-control mr-2 search-only" placeholder=(t 'books.placeholder.searchAll')}}
          <p></p>
          {{input type="text" value=searchByTag class="form-control mr-2 search-only" placeholder=(t 'books.placeholder.searchByTag')}}
          {{#if this.session.isAuthenticated}}
            {{#link-to "book-create" class="btn btn-outline-primary my-2"}}
              {{t "books.addBook"}}
            {{/link-to}}
          {{/if}}
        </div>          
      </div>
    </div>

    <h2 class="text-center">{{t "books.books"}}</h2>
      <div class="row row-cols-1 row-cols-md-3">
        {{#each model as |book|}}
        <div class="col mb-4">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">
                    {{book-item bookId=book.id title=book.title author=book.author tags=book.tags}}
                  </h5>
              </div>						
            </div>
        </div>
        {{/each}}
      </div>
  </div>
</div>