{{outlet}}
<div class="container h-100">
  <div class="htop">
    <h2 class="text-center">{{t "meetings.clubMeetings"}}</h2>
    <div class="form-row navbar-panel justify-content-between align-items-end">
      {{#if session.isAuthenticated}}
        <div class="col-md-1">
          {{#link-to "meeting-create" class="btn btn-outline-primary my-2"}}
            {{t "meetings.addMeeting"}}
          {{/link-to}}
        </div>
      {{/if}}
      <div class="col-md-3">
        <h5>{{t "speakers.speaker"}}</h5>
        <div class="mb-2">
          {{#power-select
            options=model.speakers
            selected=selectedSpeaker
            onchange=(action "changeSpeaker")
            searchField="fullName"
            allowClear=true
            as |speaker|
          }}
            {{speaker.fullName}}
          {{/power-select}}
        </div>
      </div>
      <div class="col-md-3">
        <h5>{{t "books.book"}}</h5>
        <div class="mb-2">
          {{#power-select
            options=model.books
            selected=selectedBook
            onchange=(action "changeBook")
            searchField="title"
            allowClear=true
            as |book|
          }}
            {{book.title}}
          {{/power-select}}
        </div>
      </div>
      <div class="col-md-3">
        <h5>{{t "meetings.meetingDate"}}</h5>
        <div class="form-group py-2 my-0">
          <div class="datepicker date input-group p-0 w-100">
            {{ input type="text" value=search class="form-control" placeholder=(t 'meetings.placeholder.date') }}
            <div class="input-group-append">
              <span class="input-group-text px-4">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#each model.meetings as |meeting|}} 
    <div class="border border-dark rounded p-4 mb-4">
      <h4>{{t "meetings.meetingDate"}}</h4>
      <div class="row h-100 justify-content-between mb-4">
        <div class="col-md-auto">
          <h5>
            {{meeting.meetingDate}}
          </h5>            
        </div>
        <div class="col-md-auto">
          {{#if (can "edit meeting" meeting)}}
            {{#link-to "meeting-edit" meeting.id}}
            <button type="button" class="btn btn-outline-primary" >
              {{t "meetings.editMeetingDateOrAddReport"}}
            </button>
            {{/link-to}}
          {{/if}}
        </div>
      </div>
      <h4>{{t "reports.reportsList"}}</h4>
      {{#each meeting.reports as |report|}}
      <ul class="list-group">
        <li class="list-group-item">
          {{#link-to "report-detail" report.id class="btn btn-outline-primary"}}
            {{t "reports.reportInfo"}}
          {{/link-to}}
          <div class="row h-100 justify-content-between">
            <div class="col-md-2 text-center">
              <h5 class="py-2">{{t "speakers.speaker"}}</h5>
              <img src="/images/speaker.jpg" class="rounded w-100" alt="Спикер">
              <p>{{report.speaker.surname}} {{report.speaker.name}}</p>
            </div>
            <div class="col-md-2 text-center">
              <h5 class="py-2">{{t "books.title"}}:</h5>
              <p>{{report.book.title}}</p>
              <h5 class="py-2">{{t "books.author"}}:</h5>
              <p>{{report.book.author}}</p>
              <div class="text-center">
                <h5>{{t "reports.bookScore"}}:</h5>
                <div class="col p-0">
                  {{report.bookScore}} {{t "reports.outOf5"}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5 class="text-center py-2">{{t "reports.review"}}:</h5>
              <p>
                {{report.review}}
              </p>
            </div>
            <div class="row-md-2 text-center row-filter">
              <h5 class="py-2">{{t "meetings.usefulLinks"}}:</h5>
              <a href={{report.presentationURL}} class="btn btn-outline-primary" title={{t "meetings.watchReportRecord"}}>
                {{t "meetings.watchReportRecord"}}
              </a>
              <a href={{report.videoURL}} class="btn btn-outline-success" title={{t "meetings.dlPresentation"}}>
                {{t "meetings.dlPresentation"}}
              </a>
            </div>
          </div>
        </li>
        <p></p>
      </ul>
      {{/each}}
    </div>
    {{/each}}
    <ul class="pagination justify-content-end">
      {{#each pages as |page|}}
        <li class="mb-4">
          {{link-to page "meeting" (query-params page=page) class="btn btn-primary page-link"}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
