<div class="col mb-4">
  <div class="card">
  <div class="card-body">
    <h3 class="card-title text-center">
      {{t "reports.reportFor"}}: {{model.reportDate}}       
    </h3>
    <h6 class="card-subtitle mb-2 text-left">
      <p>{{t "reports.bookScore"}}: {{model.bookScore}}</p>
      <label>{{t "reports.presentationURL"}}:</label> 
        <p>{{model.presentationURL}}</p>
      <label>{{t "reports.videoURL"}}:</label>
        <p>{{model.videoURL}}</p>
      <label>{{t "reports.review"}}: </label>
        <p>{{model.review}}</p>
      <label>{{t "reports.speaker"}}: </label>
        <p>{{model.speaker.surname}} {{model.speaker.name}}</p>
      <label>{{t "reports.forBook"}}: </label>
        <p>{{model.book.title}}</p>
    </h6>
  </div>
  <div class="card-footer">
      <div class="text-left">
        {{#link-to "meeting" class="btn btn-outline-primary"}}
          {{t "buttons.back"}}
        {{/link-to}}
      </div>
      {{#if (can "edit report" model)}}
        <div class="text-right">
          {{#link-to "report-edit" model.id class="btn btn-outline-primary"}}
            {{t "buttons.edit"}}
          {{/link-to}}
          <button type="button" onclick={{ action "deleteReport" model }} class="btn btn-outline-danger" >
            {{t "buttons.delete"}} 
          </button>
        </div>
      {{/if}}
  </div>
  </div>
</div>
{{outlet}}