{{outlet}}
<div class="container h-100">
		<div class="htop">
			<div class="form-row navbar-panel justify-content-between">
				<div class="col-md-auto">
					<div class="form-group row">
            {{#link-to "report-create" class="btn btn-outline-primary my-2"}}
						  Добавить Доклад
					  {{/link-to}}
					</div>          
				</div>
			</div>

      <h2 class="text-center">Доклады</h2>
      {{#if isLoading}}
        <div class="container h-100">
          <img src="images/loading.gif" alt="Loading">
        </div>
      {{else}}
        <div class="row row-cols-1 row-cols-md-3">
          {{#each model as |report|}}
          <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                      {{#link-to "report.detail" report.id}}
                      <p>Дата доклада: {{report.reportDate}}</p>
                      {{/link-to}}
                      <p>По книге: {{report.book.title}}</p>
                      <p>Докладчик: {{report.speaker.surname}} {{report.speaker.name}} {{report.speaker.patronymic}}</p>
                      <p>Дата встречи: {{report.clubMeeting.meetingDate}}</p>
                    </h5>
                </div>						
              </div>
          </div>
          {{/each}}
        </div>
      {{/if}}
		</div>
</div>