{{outlet}}
<div class="container h-100">
		<div class="htop">
			<div class="form-row navbar-panel justify-content-between">
				<div class="col-md-auto">
					<div class="form-group row">
						{{input type="text" value=search input=(action "inputHandler") class="form-control mr-2 search-long search-only" placeholder=(t 'speakers.placeholder.searchByCreds')}}
            {{#if session.isAuthenticated}}
              {{#link-to "speaker-create" class="btn btn-outline-primary my-2"}}
                {{t "speakers.addSpeaker"}}
              {{/link-to}}
            {{/if}}
					</div>          
				</div>
			</div>

      <h2 class="text-center">{{t "speakers.speakers"}}</h2>
        <div class="row row-cols-1 row-cols-md-3">
          {{#each model as |speaker|}}
          <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                      {{speaker-item speakerId=speaker.id name=speaker.name surname=speaker.surname patronymic=speaker.patronymic}}
                    </h5>
                </div>						
              </div>
          </div>
          {{/each}}
        </div>
		</div>
</div>

  